* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.title h2 {
  text-align: center;
  width: 400px;
  font-size: clamp(1.8rem, 2.5vw, 2.8rem);
  margin-inline: auto;
  margin-bottom: 20px;
}
.title p {
  text-align: center;
  width: 400px;
  line-height: 1.5;
  font-size: max(1.2rem, 1.2vw);
  margin-inline: auto;
}
:root {
  --main-color: #ea6d27;
}
.container {
  margin-inline: auto;
}
@media (width<560px) {
  .container {
    width: 100%;
  }
}
@media (width>=560px) {
  .container {
    width: 550px;
  }
}
@media (width>=768) {
  .container {
    width: 750px;
  }
}
@media (width>=992px) {
  .container {
    width: 970px;
  }
}
@media (width>=1200px) {
  .container {
    width: 1170px;
  }
}
a {
  text-decoration: none;
}
/* header */

header {
  /* background-color: transparent; */
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  background-color: var(--main-color);
  color: white;
  transition: 0.3s;
  z-index: 1;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    .logo a {
      color: black;
      font-size: 40px;
    }
    .navbar {
      list-style-type: none;
      display: flex;
      gap: 15px;
      font-size: max(1.2rem, 1.2vw);
      li {
        > a {
          display: block;
          padding: 10px;
          /* border-radius: 20px; */
          transition: 0.3s;
          position: relative;
          &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 0;
            height: 5px;
            /* background-color: blue; */
            transition: 0.3s;
          }
          &:hover {
            background-color: var(--main-color);
            color: white;
            &::before {
              width: 100%;
            }
          }
        }
      }
    }
    > a {
      padding: 16px 32px;
      background-color: var(--main-color);
      color: white;
      border-top-left-radius: 15px;
      border-top-right-radius: 5px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 15px;
      transition: 0.3s;
      &:hover {
        background-color: orangered;
      }
    }
    .bar {
      display: none;
    }
  }
}
@media (width<=992px) {
  header .container {
    > .navbar,
    > a {
      display: none;
    }
    .bar {
      display: block;
      position: relative;
      cursor: pointer;
      /* &:hover .navbar {
        display: block;
      } */
      i {
        font-size: 20px;
        transition: 0.3s;
        .navbar {
          position: absolute;
          right: -30px;
          top: calc(100% + 10px);
          display: block;
          width: 200px;
          background-color: white;
          /* border-radius: 20px; */
          /* transform: translateX(-100%); */
          /* overflow: hidden; */
          display: none;
          &::before {
            content: "";
            position: absolute;
            width: 0px;
            right: 25px;
            top: 0px;
            z-index: 1;
            border-color: red transparent white;
            border-width: 0px 10px 10px;
            border-style: solid;
            transform: translateY(-100%);
          }
        }
      }
    }
  }
}
/* header {
  background-color: transparent;
  padding-top: 20px;
  padding-bottom: 20px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .logo a {
  color: black;
  font-size: 40px;
}
header .container .navbar {
  list-style-type: none;
  display: flex;
  gap: 15px;
  font-size: max(1.2rem, 1.2vw);
}
header .container .navbar li {
}
header .container .navbar li > a {
  display: block;
  padding: 10px;
  /* border-radius: 20px; */
/* transition: 0.3s;
  position: relative;
} */
/* header .container .navbar li > a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 5px;
  background-color: blue;
  transition: 0.3s;
}
header .container .navbar li > a:hover {
  background-color: var(--main-color);
  color: white;
}
header .container .navbar li > a:hover::before {
  width: 100%;
}
header .container > a {
  padding: 16px 32px;
  background-color: var(--main-color);
  color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 15px;
  transition: 0.3s;
}
header .container > a:hover {
  background-color: orangered;
} */
/* header */
/* section menu */
/* .dish {
  display: none;
} */
.show {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 1;
  z-index: 1000; /* Ensure it is above other content */
}
/* .dish.active {
  display: block !important;
} */
.menu {
  background-color: #e3e4e4;
  padding-top: 50px;
  padding-bottom: 50px;
  .container {
    overflow: hidden;
    .dishes {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      flex-wrap: nowrap;
      /* overflow: hidden; */
      /* transform: translateX(calc(1.5 * 227.5px + 30px)); */
      gap: 20px;
      transition: 0.3s;
      position: relative;
      /* left: 300px; */
      left: 54%;
      .dish {
        border-radius: 10px;
        overflow: hidden;
        width: 400px;
        background-color: var(--main-color);
        color: white;
        position: relative;
        /* left: 34%; */
        height: 440px;
        flex: none;
        &::before {
          content: attr(data-before);
          position: absolute;
          background-color: white;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          left: 10px;
          top: 10px;
          font-size: 0.75em;
          display: flex;
          align-items: center;
          justify-content: center;
          color: black;
        }

        .img-holder {
          width: 100%;
          img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            /* object-position: top; */
          }
        }
        .text {
          padding: 20px;
          h2 {
            /* width: 400px; */
            margin-inline: auto;
            margin-top: 10px;
            margin-bottom: 20px;
            font-size: 1.5;
          }
          p {
            /* width: 350px; */
            margin-inline: auto;
            margin-bottom: 15px;
            line-height: 1.5;
            font-size: 1.1;
          }
        }
        a {
          display: block;
          width: fit-content;
          padding: 10px 20px;
          font-size: 1.3em;
          margin-inline: auto;
          background-color: #421344;
          color: #00629b;
          border-radius: 5px;
          &:hover {
            background-color: #00629b;
            color: #421344;
          }
        }
      }
    }
    .buttons {
      display: flex;
      justify-content: center;
      gap: 10px;
      button {
        padding: 5px 10px;
        font-size: 20px;
        border: none;
        border-radius: 5px;
        transition: 0.3s;
        margin-top: 20px;
        cursor: pointer;

        &:hover {
          background-color: blueviolet;
        }
        &.right {
        }
        &.left {
        }
      }
    }
  }
}
/* .menu .dishes {
}
.menu .dishes .dish {
}
.menu .dishes .dish .img-holder {
}
.menu .dishes .dish .text {
}
.menu .dishes .dish .text h2 {
}
.menu .dishes .dish .text p {
} */
/* section menu*/
main section.about {
  padding-top: 80px;
  padding-bottom: 80px;
  .container {
    overflow: hidden;
    .opinions {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      flex-wrap: nowrap;
      /* left: 50%;
      transform: translateX(-50%); */
      position: relative;
      margin-top: 30px;
      transition: 0.3s;
      .opinion {
        flex: none;
        width: 250px;
        height: 200px;
        text-align: center;
        left: 50%;
        transform: translate(-50%);
        position: relative;
        background-color: #e3e4e4;
        padding: 20px;
        overflow: auto;
        border-radius: 20px;
        box-shadow: 5px 6px 11px 4px gray;

        h3 {
          font-size: 1.5em;
        }
        .rating {
          margin-top: 10px;
          i:not(.fa-regular) {
            color: yellow;
          }
        }
        p {
          font-size: 1.1em;
          margin-top: 20px;
        }
      }
    }
    .buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      button {
        /* margin-inline: auto; */
        border: none;
        padding: 10px;
        border-radius: 20px;
        font-size: 20px;
        background-color: rgba(129, 126, 126, 0.438);
        cursor: pointer;
        transition: 0.3s;
        color: blue;
        &:hover {
          background-color: black;
          color: white;
        }
      }
      margin-top: 20px;
    }
  }
}
/* section about */
/* section contact */
.contact {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #ddd;
  .details {
    max-width: 700px;
    min-width: 200px;
    text-align: center;
    margin-inline: auto;
    background-color: var(--main-color);
    padding: 20px;
    border-radius: 7px;
    box-shadow: 0 0 16px 5px gray;
    form {
      padding: 20px;
      background-color: purple;
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      border-radius: 7px;
      input {
        flex-basis: 100%;
        padding: 15px;
        border: none;
        border-radius: 10px;
        outline: none;
        caret-color: #ea6d27;
        &::placeholder {
          padding: 10px;
        }
        &[type="email"] {
        }
        &[type="number"] {
        }
      }
      button {
        padding: 10px 15px;
        border: none;
        cursor: pointer;
        color: white;
        background-color: var(--main-color);
        border-radius: 5px;
        margin-inline: auto;
        transition: 0.3s;
        &:hover {
          box-shadow: inset 0px 0px 20px 6px gray;
          transform: translateY(-5px);
        }
      }
    }
  }
}
/* section contact */
/* footer */
footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--main-color);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  flex-direction: column;
  gap: 20px;
  text-align: center;
  p {
    font-size: 1.3em;
  }
  .links {
    display: flex;
    gap: 1em;
    a {
      font-size: 1.5em;
    }
  }
}
@media (width<=500px) {
  h2 {
    width: 100% !important;
  }
  p {
    width: 100% !important;
  }
}
/* footer */
